body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameBoard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-image: url("/images/flappybirdbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}